* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* Couleurs neutres */
  --color-dark-gray: #0f172a;     /* slate-800/900 - textes principaux */
  --color-medium-gray: #64748b;   /* slate-600 - textes secondaires */
  --color-light-gray: #f1f5f9;    /* slate-50 - backgrounds subtils */

  /* Couleurs d'accent */
  --color-primary-blue: #2563eb;     /* blue-600 - couleur de marque */
  --color-hover-blue: #1d4ed8;       /* blue-700 - hover */
  --color-light-blue: #eff6ff;       /* blue-50 - background subtil */


/* Couleurs spécifiques */
--blue: #306eff; 
--green: #00b87c; 
--purple: #a259ff; 
--orange: #ff7a00; 
}


body{
    font-family: sans-serif;
}

a {
  text-decoration: none;
}

/*---Hero section---*/
#Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-light-blue);
  position: sticky;
  top: 0;
  z-index: 100px;
  }

#Navbar .logo {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-dark-gray);
}

#Navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

#Navbar .nav-links a {
   color: var(--color-dark-gray);
  text-decoration: none;
  transition: color 0.3s ease;
}

#Navbar .nav-links a:hover {
  color: var(--color-hover-blue);
}

/*------------------*/
#Heropage{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--color-light-gray);
  padding: 60px 5%;
  margin: 0 auto;
}
.logo{
height: 130px;
width: auto;
}

.item-text h1{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  
}

.hero-tille-1{
  color: var(--color-dark-gray);
}
/*---Hero section titles animaition---*/
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.item-text h1,
.hero-tille-3 {
  animation: fadeIn 1s ease forwards;
}


.hero-tille-2{
  color: var(--color-primary-blue);
}

.hero-tille-3{
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-medium-gray);
  margin-bottom: 30px;

}
.hero-image-container{
  margin-top: -200px;
}
.subtitle{
  width: 450px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: var(--color-medium-gray);

}

button{
  border: none;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 15px;
}

.btn-approche{
  background: var(--color-primary-blue);
    border: 1px solid transparent; 
  transition: all 0.3s ease-in-out;
}

.btn-approche:hover{
  background:#f4f9ff ;
  border: 1px solid var(--color-primary-blue);
}
.btn-approche a{
  color: #f4f9ff;
  transition: all 0.3s ease-in-out;
}

.btn-approche:hover a{
  color: var(--color-primary-blue);

}

.btn-projet {
  background-color: #f4f9ff;
  border: 1px solid var(--color-primary-blue);
  transition: all 0.3s ease-in-out;
}

.btn-projet:hover {
  border: 1px solid transparent; 
  background-color: var(--color-primary-blue);
}


.btn-projet a{
color:var(--color-primary-blue);
  transition: all 0.3s ease-in-out;
}

.btn-projet:hover a{
  color: #f4f9ff;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 30px;
  height: 200px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.06);
 
}



 .icon {
  font-size: 28px;
  margin: 10px 0;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}
.little-card{
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 12px; 
}

.little-card .item h4{
  text-align: center;
}

.little-card .item{
  padding: 5px;
}
.little-card .item:hover{
  background-color: #FFFF;
  border-radius: 5px;
}

.fa-bullseye{
  color: var(--blue);
}

.fa-lightbulb{
  color: var(--green);
}

.fa-bolt{
  color: var(--purple);
}

.fa-trophy{
  color: var(--orange);
}

.fa-list-check{
  color: var(--blue);
}
.fa-laptop-code{
  color: var(--green);
}
.fa-gear{
  color: var(--orange);
}
.fa-person{
  color: palevioletred;
}

.fa-circle-check{
  color: var(--green);
}
.item .icon {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
.barre-haut {
  width: 200px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto 16px auto;
   transition: transform 0.3s ease-in-out;
  transform-origin: center;
  
}

.card:hover .barre-haut{
    transform: scaleX(1.2);

}

.barre-bleu{
  background-color: var(--blue);
}
.barre-orange{
  background-color: var(--orange);
}
.barre-green{
  background-color: var(--green);
}
.barre-purple{
  background-color: var(--purple);
}
/*---About me section---*/
.Apropos{
  padding: 60px 5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.barre-title{
  width: 150px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto 16px auto;
  background-color: var(--color-primary-blue);
}

.about-card-text, .about-card-value {
    flex: 1 1 45%;
    min-width: 300px;
    padding:0 60px 0 60px; 
}

.section-title{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  
}
.about-card{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  
}

.item-value{
  border-radius: 5px;
  padding: 30px;
  margin: 30px;  
  border: 1px solid var(--color-light-gray);
  transition: box-shadow 0.3s ease;
  will-change: box-shadow;
  display: flex;
  justify-content: space-between;
}
.item-value .icon i{
  height: 30px;
  width: 30px;
}

.item-value:hover{
    border: 2px solid transparent;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background: white;
}
.about-card-text h2 {
  padding: 20px;
  margin: 20px;
}
.about-card-text h3 {
  margin: 20px;
}
.about-card-text p {
  margin: 20px;
  color: var(--color-medium-gray);
}
.myname{
  font-style: italic;
  color: var(--color-primary-blue);
}
.about-card-value p{
  color: var(--color-medium-gray);
}

.cta-container {
  background-color: var(--color-light-blue);
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.cta-container h2 {
  color: var(--color-dark-gray);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cta-container p {
  color: var(--color-medium-gray);
  font-size: 16px;
  margin-bottom: 20px;
}

.cta-container button {
  background-color: var(--color-primary-blue); /* bleu vif */
  font-weight: 600;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cta-container button a {
  color: white;
}

.cta-container button:hover {
  background-color: var(--color-hover-blue);
}

.method-section {
  text-align: center;
  padding: 60px 20px;
  background: #fff;
}

.method-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.method-section p {
  font-size: 16px;
  color: #4a5568;
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.step {
  padding: 20px;
  width: 250px;
}

.step-number {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #3b82f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.3);
}

.step-number.green {
  background-color: #10b981;
}

.step-number.purple {
  background-color: #8b5cf6;
}

.step-number.orange {
  background-color: #f97316;
}


.step h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.step h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary-blue);
  margin-bottom: 10px;
}

.step:nth-child(2) h4 {
  color: var(--green);
}

.step:nth-child(3) h4 {
  color: var(--purple);
}

.step:nth-child(4) h4 {
  color: var(--orange);
}

.step p {
  font-size: 14px;
  line-height: 1.5;
}

/*------CTA-2---*/
.cta-2 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-dark-gray);
}

.cta-2.description {
  font-size: 16px;
  color: var(--color-light-blue);
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.stat-item {
  flex: 1 1 200px;
  max-width: 220px;
}

.stat-circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0 auto 10px;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-dark-gray);
}

.stat-circle.blue {
  background-color: #d8e8ff;
  color: var(--blue);
}

.stat-circle.green {
  background-color: #d6f5db;
  color: var(--green);
}

.stat-circle.purple {
  background-color: #ecdfff;
  color: var(--purple);
}

.stat-item h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-item p {
  font-size: 14px;
  color: var(--color-medium-gray);
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: var(--color-primary-blue);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: var(--color-hover-blue);
}

#Services{
  background-color: var(--color-light-blue);
}
.title-description{
  margin-bottom: 20px;
  text-align: center;
}
.title-description h3{
  color: var(--color-medium-gray);
}

.service-item{
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  width: 350px;
  height:250px;
}
.service-item h3{
  text-align: center;
  margin-bottom: 10px;
}
.service-desc{
  color: var(--color-medium-gray);
  margin-bottom: 10px;

}
 .service-title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
.service-container h4{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.service-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.stack{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
flex-wrap: wrap;
gap: 0.2rem;
}

.stack p{
  background-color: var(--color-light-blue);
  padding: 3px;

}


/*cta-3*/
.cta-3{
 background: linear-gradient(to right, #2563eb , #a259ff );
}
.cta-3 h2,
.cta-3 p{
  color: white;
}

.cta-3-button-1{
  background-color: white;
  color: var(--color-primary-blue);
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s;
    border: solid 2px white;

}

.cta-3-button-1:hover{
  background: transparent;
  color: white;
}

.cta-3-button-2{
   background-color: transparent;
  color: var(--color-primary-blue);
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  border: solid 2px white;
  color: white;
  transition: background 0.3s;
}
.cta-3-button-2:hover{
  background: white;
  color: var(--color-primary-blue);
}


/*----project----*/
#Projects{
  background-color: var(--color-light-gray);
  padding: auto;
}
.project-item{
  margin: 0 auto;
  display: flex;
  justify-content: center;
 justify-content: space-evenly;
  gap: 40px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  max-width: 960px;
  width: 100%;
  border-top: 6px solid var(--color-primary-blue);
}
.tag {
  display: inline-block;
  background: #e6e6ff;
  color: var(--color-dark-gray);
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}